<!DOCTYPE html>
<html>
<head>
	<title>{{ global.sitename }} | {{ title }}</title>
	<link rel="stylesheet" href="./assets/css/styles.css" type="text/css" />
</head>
<body>
{% for key, script in assets.scripts.body %}
<script src="{{ script }}"></script>
{% endfor %}
<div class="container">

	{% include 'region-header.html' %}

	<section class="main">
		<h2>{{ title }}</h2>
		<div class="body">{{ body|raw }}</div>
	</section>
	<!--/section.main-->

	{% include 'region-footer.html' %}

</div>
<!--/div.container-->
</body>
</html>